.main {
  display: flex;
  height: 100vh;
  align-items: center;
  padding-top: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.titulo-principal {
  font-size: 4.6875rem;
  line-height: 1;
  font-weight: 500;
}
.titulo-color {
  color: var(--color-secundary);
}
.sp-titulo-1 {
  color: var(--color-secundary);
  font-size: 1.875rem;
}

.sp-titulo-2 {
  color: var(--color-card-description);
  font-size: 3.75rem;
  line-height: 1.1;
}
.btn-cv {
  color: var(--color-text);
  border: 3px solid var(--color-secundary);
  font-size: 1.1875rem;
  border-radius: 0.9375rem;
  padding: 0.75rem 0.75rem;
  text-align: center;
  font-weight: 500;
}
.btn-cv:hover {
  background-color: var(--color-secundary);
  color: white;
  transition: 0.5s;
}

.imgs-btn {
  display: flex;
  gap: 460px;
  margin-top: 1.25rem;
}
.imgs-redes {
  display: flex;
  gap: 0.625rem;
}
.imgs-redes img {
  height: 3.4375rem;
  cursor: pointer;
}
@media (max-width: 1030px) {
  .titulo-principal {
    font-size: 3rem;
  }
  .sp-titulo-1 {
    font-size: 1.5rem;
  }

  .sp-titulo-2 {
    font-size: 2.7rem;
  }
  .btn-cv {
    font-size: 1rem;
    padding: 0.6875rem;
  }
  .imgs-btn {
    display: flex;
    gap: 270px;
    margin-top: 1.25rem;
  }
  .imgs-redes img {
    height: 3.2rem;
    cursor: pointer;
  }
  .main {
    padding-left: 5.625rem;
    padding-right: 5.625rem;
    height: 90vh;
  }
}
@media (max-width: 800px) {
  .titulo-principal {
    font-size: 2.9rem;
  }
  .sp-titulo-1 {
    font-size: 1.5rem;
  }

  .sp-titulo-2 {
    font-size: 2.5rem;
  }

  .imgs-redes img {
    height: 3rem;
  }
  .main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 700px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .titulo-principal {
    font-size: 2.3rem;
  }
  .sp-titulo-1 {
    font-size: 1.3rem;
  }
  .sp-titulo-2 {
    font-size: 1.3rem;
    line-height: 1.5;
  }
}
@media (max-width: 500px) {
  .titulo-principal {
    font-size: 3rem;
  }
  .sp-titulo-1 {
    font-size: 1.4rem;
  }
  .sp-titulo-2 {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
